<html>
    <head></head>
    <title>TO_DO_PROJECT</title>

    <style>
        h1{
            margin-top: 50vh;
            text-align: center;
            

        }
    </style>
    <body>
        <a href="./todo">

        <h1>Click this link to go to To Do Lists</h1>
        </a>
    </body>
</html>